/* ---------------------------------------
    |   common style
    |------------------------------------- */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---------------------------------------
    |   Back  button
    |------------------------------------- */
.back-button-container {
    text-align: right;
}

.back-button {
    display: inline-block;
    padding: 6px 18px;
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
    background-color: #0c0c0c;
    color: white;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;

}

.back-button:hover {
    background-color: #504f4f;
}

/* ---------------------------------------
    |   Registration  button
    |------------------------------------- */
.Registration {
    display: inline-block;
    padding: 6px 18px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: #ec5e1c;
    border: 2px solid #ec5e1c;
    color: rgb(5, 5, 5);
    border-radius: 6px;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;

}

.Registration:hover {
    background-color: #ff8555;
    border: 2px solid rgb(8, 8, 8);
}


/* register forms */
/* -------------------------------------------
    |   Form
    |----------------------------------------- */
.wrapper {
    width: 525px;
    background: rgb(177, 177, 177);
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    border-radius: 30px;
    border: 2px solid rgb(8, 8, 8);
    padding: 30px 30px;
    text-align: center;
}

/* -------------------------------------------
    |   Form input field
    |----------------------------------------- */
.wrapper .input-box,
.wrapper .input-file-box {
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input,
textarea {
    width: 90%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 50px;
    font-size: 18px;
    color: #070707;
    padding: 20px;
}

.input-box input::placeholder,
textarea::placeholder {
    color: #030303;
}

/* -------------------------------------------
    |   Submit button styles
    |----------------------------------------- */
.wrapper .btn {
    width: 50%;
    height: 50px;
    background: orangered;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: #333;
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.wrapper .btn:hover {
    border: 2px solid white;
    font-size: 19px;
}



/* -------------------------------------------
    |   Password icon
    |----------------------------------------- */
::-ms-reveal {
    filter: invert(1);
}

/* -------------------------------------------
    |   Form input file field
    |----------------------------------------- */
.input-file-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50px;
    color: #fff;
    padding-right: 5px;
}

/* -------------------------------------------
    |   Select option field
    |----------------------------------------- */
select {
    width: 90%;
    height: 50px;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 50px;
    font-size: 18px;
    color: #000000;
    background: rgb(177, 177, 177);
    padding: 10px 17px;
}

/* -------------------------------------------
    |   Date icon
    |----------------------------------------- */
.input-box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 25px;
}


/* -------------------------------------------
    |   Form input file Choose File button
    |----------------------------------------- */
.input-file-box input[type="file"]::-webkit-file-upload-button {
    height: 100%;
    background: rgb(59, 57, 57);
    color: #fff;
    border: 0;
    padding: 0 5px 0 20px;
}

label {
    font-size: 18px;
    text-align: end !important;
}


/* ----------------------------------
    |Table
    |-------------------------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.item-name {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dbdada;
    color: black;
}

/* ---------------------------------------
    |   Action  button
    |------------------------------------- */

.action-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.view,
.update,
.deactivate {
    padding: 8px 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}

.view {
    background-color: #1316b1;
}

.update{
    background-color: #28A745;
}

.deactivate{
    background-color: #DC3545;
}

/* --------------------------- 
 update/edit account forms
-----------------------------*/

.edit{
    display: flex;
    grid-gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px
}

.d-change .p-change{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 25px;
}