body {
    background-color: #f7f7fa;
}

/* manu sections */

/* .container-body {
    display: flex;
    grid-template-columns: 14rem auto;
    position: relative;
} */


/* left menu section */


.left-menu {
    background-color: #ffffff;
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    height: fit-content;
    width: 13rem;
    padding: 0 0 60px;

}

.middle-side{
    margin-left: 14rem;
    padding-bottom: 2rem;
    margin-top: 10px;

}

.main {
    display: grid;
    grid-template-columns: auto 10rem;
}


.menu a {
    margin-left: 15px;
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    transition: transform 0.2s;
}


.menu:hover {
    transform: scale(1.08);
    margin-left: 1px;
    font-size: 19px;
    font-weight: 620;
}

.menu .material-symbols-outlined {
    line-height: 2.1;
    margin-left: 15px;
    font-size: 22px;
}