/* --------------------------- 
 update/edit account forms
-----------------------------*/

.edit{
    display: flex;
    grid-gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px
}

.d-change .p-change{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 25px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}