    /* --------------------------------------
        |  Item management section 
        |------------------------------------ */

.container-item {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
}

form legend {
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-group label,
.size-group label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

.size-details {
    margin-left: 20px;
    display: none;
    /* Hidden by default, shown when checkbox is checked */
}

.size-group input[type="checkbox"]:checked+.size-details {
    display: block;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    padding: 10px 40px;
    margin: 5px;
    margin-right: 30px;
    border: none;
    background-color: #409419;
    color: #fff;
    cursor: pointer;
}


.form-actions button:hover {
    background-color: #40c93b;
}

/* -------------------------------------------
    |   Select option field
    |----------------------------------------- */
select {
    /* width: 90%; */
    /* height: 50px; */
    border: 1px solid rgb(5, 5, 5);
    font-size: 18px;
    color: #000000;
    background-color: transparent;
    padding: 10px 17px;
}